/* line 36, ../sass/screen.scss */
.clearfix {
  display: inline-block;
  zoom: 1;
}

/* line 38, ../sass/screen.scss */
.button, .rounded-button {
  padding: 0.5em 1.2em;
  font-size: 1em;
  color: white;
  background-color: #2ecc71;
  text-decoration: none;
  border: 1px solid #cccccc;
  -moz-box-shadow: 0px 2px 4px #cccccc;
  -webkit-box-shadow: 0px 2px 4px #cccccc;
  box-shadow: 0px 2px 4px #cccccc;
}
/* line 46, ../sass/screen.scss */
.button:hover, .rounded-button:hover {
  color: #f2f2f2;
  background-color: #54d98c;
}

/* line 54, ../sass/screen.scss */
.rounded-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 58, ../sass/screen.scss */
#nav {
  background-color: #3498db;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  -moz-box-shadow: 0px 4px 5px #cccccc;
  -webkit-box-shadow: 0px 4px 5px #cccccc;
  box-shadow: 0px 4px 5px #cccccc;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-bottom: 2em;
}
/* line 24, ../sass/screen.scss */
#nav li a {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: normal;
  color: white;
}
/* line 30, ../sass/screen.scss */
#nav li a:hover {
  color: #fafafa;
  background-color: #4aa3df;
}
