// Normalize: https://github.com/JohnAlbin/normalize.css-with-sass-or-compass
@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/typography';

body {
    $main-background-texture: image-url('groovepaper.png', false, false);
    background-image: $main-background-texture;
    @extend %main-font;
}
header, #TOC {
    width: 100%;
}
header {
    background-color: $secondary-b-4;
    text-align: center;
}
header, section.level1, #TOC, #TOC>ul {
    margin: 0 auto;
    padding: 20px;
}
#TOC {
    >ul {
        border: 1px dotted $grey;
    }
}
// Credit to http://learnlayout.com/
#menu {
    background-color: $secondary-b-5;
    text-align: center;
    @extend %thin-font;
    a {
        color: $secondary-bb-3;
        &:hover {
            background-color: $primary-5;
        }
        display: inline-block;
        padding: .5em 1em;
        text-shadow: 0 1px 0 #ddd;
        text-decoration: none;
    }
}
@media screen and (min-width:601px) {
    #menu {
        position: absolute;
        top: -16px;
        left: -20px;
        width: 250px;
        padding-top: 2em;
        @include transform-origin(0, 0);
        @include transform(rotate(-35deg) translate(-92px, 22px));
        @include box-shadow(lighten($black, 30%) 0px 1px 7px);
        a {
            display: block;
            padding: .4em 0;
            color: $secondary-bb-2;
            &:first-child {
                border-bottom: 1px dotted $grey;
            }
            &:hover {
                background-color: $secondary-bb-1;
            }
            background-color: $secondary-bb-4;
        }
    }
}
/* Tablets and Desktops */
@media only screen and (min-width: $mq-tablet-landscape) {
    section.level1, #TOC>ul {
        width: 75%;
    }
}
/* tablet */
@media only screen and (min-width: $mq-tablet-portrait) and (max-width: $m1-tablet-max) {
    section.level1, #TOC>ul {
        width: 65%;
        font-size: 0.938em;//~15px
    }
    .tagline {
        font-size: 4em;
    }
    .sub-tagline {
        font-size: 1.8em;
    }
    #menu {
        a {
            padding: .3em 0;
        }
    }

}
/* phones */
@media only screen and (max-width: $mq-mobile-max) {
    section.level1, #TOC>ul {
        width: 60%;
        font-size: 0.875em;//~14px
    }
    .tagline {
        font-size: 2.4em;
    }
    .sub-tagline {
        font-size: 1.1em;
    }
    #menu {
        a {
            padding: .2em .3em;
        }
    }
}
