%main-font {
    font-family: OpenSans, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-weight: 400;
    color: $black;
}
%thin-font {
    font-family: OpenSans, sans-serif;
    font-weight: 300;
}
%subtitle-font {
    font-family: 'Montserrat', 'Gotham Book', 'Gotham-Book', Arial, Helvetica, sans-serif;
}

