
/* Media queries */

$mq-six-hun: 601px !default;
$mq-tablet-portrait    : 768px !default;
$mq-mobile-max: $mq-tablet-portrait - 1px;
$mq-tablet-landscape   : 1024px !default;
$m1-tablet-max: $mq-tablet-landscape - 1px;

/* Colors */
$black: #222;
$soft-black: #444;
$white: #fff;
$grey: #ddd;
$secondary-b-1: #8B88C0;
$secondary-b-4: #C0BEEB;
$secondary-b-5: #D2D0EB;
$complement-1: #8293BB;
$primary-5 : #E6E5F8 ;
$secondary-bb-1: #D7F7C0 ;
$secondary-bb-2: #97A68D ;
$secondary-bb-3: #4C8523 ;
$secondary-bb-4: #E6FCD7 ;
$secondary-bb-5: #EFFCE5 ;
